.darkMode {
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

@media(max-width:650px) {
    .darkMode {

        right: 1%;
        font-size: 40px;

    }
}

@media(max-width:450px) {
    .darkMode {

        right: 1%;
        font-size: 30px;

    }
}